# Auto detect text files and perform LF normalization
* text=auto

*.sh text eol=lf
Makefile text eol=lf
*/Makefile text eol=lf
postinst text eol=lf
postrm text eol=lf
control text eol=lf
*.m text eol=lf
*.h text eol=lf
*.xm text eol=lf
*.yml text eol=lf
*.plist text eol=lf
